@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: #003161;
  --color-primary-dark: #FDEB9E;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101c22;
  --color-light: #111618;
  --color-dark: #f0f3f4;
  --color-secondary-light: #617c89;
  --color-secondary-dark: #9CA3AF;
  --color-surface-light: #FFFFFF;
  --color-surface-dark: #1F2937;
  --color-bdr-light: #f0f3f4;
  --color-bdr-dark: #374151;
}

html {
  overscroll-behavior: smooth;
}